![ngo_project_image](ngo_project_image.jpg)

GoodThought NGO has been a catalyst for positive change, focusing its efforts on education, healthcare, and sustainable development to make a significant difference in communities worldwide. With this mission, GoodThought has orchestrated an array of assignments aimed at uplifting underprivileged populations and fostering long-term growth.

This project offers a hands-on opportunity to explore how data-driven insights can direct and enhance these humanitarian efforts. In this project, you'll engage with the GoodThought PostgreSQL database, which encapsulates detailed records of assignments, funding, impacts, and donor activities from 2010 to 2023. This comprehensive dataset includes:

- **`Assignments`:** Details about each project, including its name, duration (start and end dates), budget, geographical region, and the impact score.
- **`Donations`:** Records of financial contributions, linked to specific donors and assignments, highlighting how financial support is allocated and utilized.
- **`Donors`:** Information on individuals and organizations that fund GoodThoughtâ€™s projects, including donor types.

Refer to the below ERD diagram for a visual representation of the relationships between these data tables:
<img src="erd.png" alt="ERD" width="50%" height="50%">


You will execute SQL queries to answer two questions, as listed in the instructions. Good luck!

In [19]:
-- highest_donation_assignments
WITH don as(
	SELECT 
		dona.assignment_id
		, d.donor_type
		, SUM(dona.amount) AS total_donation_amount
	FROM
		donors as d
	JOIN
		donations as dona
	ON 
		d.donor_id = dona.donor_id
	GROUP BY
		dona.assignment_id
		, d.donor_type

)

SELECT 
	a.assignment_name
	, a.region
	, ROUND(total_donation_amount, 2) AS rounded_total_donation_amount
	, d.donor_type
FROM
	assignments as a
RIGHT JOIN
	don as d
ON 
	a.assignment_id = d.assignment_id
GROUP BY
	d.donor_type
	, a.assignment_name
	, a.region
	, rounded_total_donation_amount
ORDER BY
	rounded_total_donation_amount DESC
LIMIT 5

   assignment_name region  rounded_total_donation_amount    donor_type
0  Assignment_3033   East                        3840.66    Individual
1   Assignment_300   West                        3133.98  Organization
2  Assignment_4114  North                        2778.57  Organization
3  Assignment_1765   West                        2626.98  Organization
4   Assignment_268   East                        2488.69    Individual

In [20]:
-- top_regional_impact_assignments
WITH don as(
	SELECT 
		a.assignment_id
		, COUNT(DISTINCT d.donation_id) AS num_total_donations
	FROM
		assignments as a
	LEFT JOIN
		donations as d
	ON 
		a.assignment_id = d.assignment_id
	GROUP BY
		a.assignment_id
),
assign as(
	SELECT 
		assignment_name
		, assignment_id
		, region
		, impact_score
		, ROW_NUMBER() OVER(PARTITION BY region ORDER BY impact_score DESC) AS rnk
	FROM 
		assignments
)

SELECT 
	a.assignment_name
	, a.region
	, a.impact_score
	, d.num_total_donations
FROM
	assign as a
JOIN
	don as d
ON 
	a.assignment_id = d.assignment_id
WHERE 
	a.rnk = 1
ORDER BY
	a.region ASC

   assignment_name region  impact_score  num_total_donations
0   Assignment_316   East         10.00                    2
1  Assignment_2253  North          9.99                    1
2  Assignment_3547  South         10.00                    1
3  Assignment_3764   West          9.99                    1